@model CreateMailDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Mail Sayfası</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Mail Gönderme Paneli</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ReciverMail">Mail Adresi</label>
                                <input type="text" class="form-control" asp-for="ReciverMail" id="ReciverMail">
                            </div>
                            <div class="form-group">
                                <label for="Subject">Konu</label>
                                <input type="text" class="form-control" asp-for="Subject" id="Subject">
                            </div>
                            <div class="form-group">
                                <label for="Body">Mail</label>
                                <textarea rows="5" asp-for="Body" id="summernote" class="form-control"></textarea>
                            </div>
                            
                            <div class="card-action">
                                <button class="btn btn-primary">Maili Gönder</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $('#summernote').summernote({
        height: 200 // Text area yüksekliğini ayarlayın
    });
</script>