@model List<ResultMenuTableDto>

@{
    ViewData["Title"] = "Index";
    Layout = null;
    string color = "";
    string status = "";
}

<!DOCTYPE html>
<html>
     

  

@await Component.InvokeAsync("_UILayoutHeadPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_MenuNavbarPartial")
    <br />
    <br />
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-dark mb-30">
                    <a class="breadcrumb-item text-white" href="/Default/Index">Ana Sayfa</a>
                    <a class="breadcrumb-item text-white" href="/Menu/Index">Masa Listesi</a>
                    <span class="breadcrumb-item active">Masa Seçimi Yapınız</span>
                </nav>
            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div class="row px-xl-5" style="margin-right:10px;">
                @foreach(var item in Model)
              {
                  if(item.Status==true)
                {
                    color = "widgettrue";
                    status = "Masa Boş";
                }
                if(item.Status==false)
                {
                    color = "widgetfalse";
                    status = "Masa Dolu";
                    
                }
                <div class="col-md-3 mb-4">
                    <div class="@color">
                        <div class="widget-icon">
                            <i class="fas fa-chair"></i>
                           
                        </div>
                        <div class="widget-text">
                            <h3>@item.Name</h3>
                            <p>@status</p>

                        </div>

                    </div>

                </div>
             
                
     
             }
        </div>
    </div>

    @await Component.InvokeAsync("_UILayoutFooterPartial")

    @await Component.InvokeAsync("_UILayoutScriptPartial")

</body>

</html>