@model CreateContactDto

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımızda İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
					<div class="card-header">
						<div class="card-title">Yeni Hakkımızda Yazısı Girişi </div>
					</div>
					<div class="card-body">
						<div class="form-group">
								<label for="location">Konumu Giriniz</label>
								<input type="text" class="form-control"asp-for="Location" id="location" >

						</div>

					</div>
						<div class="card-body">
							<div class="form-group">
								<label for="PhoneNumber">Telefon Giriniz</label>
								<input type="text" class="form-control" asp-for="PhoneNumber" id="PhoneNumber">

							</div>

						</div>
							<div class="card-body">
							<div class="form-group">
								<label for="Mail">Mail Adresinizi Giriniz</label>
								<input type="email" class="form-control" asp-for="Mail" id="Mail">

							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="PhoneNumber">Alt Başlık Giriniz</label>
								<input type="text" class="form-control" asp-for="FooterTitle" id="FooterTitle">

							</div>

						</div>						
							<div class="card-body">
								<div class="form-group">
								<label for="PhoneNumber">Açık Günler</label>
								<input type="text" class="form-control" asp-for="OpenDays" id="OpenDays">

								</div>

							</div>
						<div class="card-body">
							<div class="form-group">
								<label for="PhoneNumber">Açık Günler Açıklama</label>
								<input type="text" class="form-control" asp-for="OpenDaysDescription" id="OpenDaysDescription">

							</div>

						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="PhoneNumber">Açık Saatler</label>
								<input type="text" class="form-control" asp-for="OpenHours" id="OpenHours">

							</div>

						</div>

						<div class="card-body">
							<div class="form-group">
							<label for="FooterDescription">Açık Saatler</label>
							<textarea rows="5" class="form-control" asp-for="FooterDescription" id="FooterDescription"></textarea>

								</div>

					</div>
					<div class="card-action">
						<button class="btn btn-outline-primary">İletişim Yazısı Ekle</button>

					</div>
					</div>
				
				</form>
			</div>
		</div>

	</div>
</div>



